.input-search {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-search input {
  width: 85%;
  border: none;
  padding: 0.7rem;
}

.input-search input:focus-visible {
  outline: none;
}

.input-search button {
  border: none;
  width: 15%;
  padding: 0.7rem;
}
