.header-container {
  padding-top: 1rem;
}
.header {
  padding: 1rem;
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto 1rem auto;
  border-radius: 0.7rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 2.2rem;
}

@media(min-width:1024px) {
  .header{
    width: 72rem;
  }
}
