.list {
  width: 90%;
  margin: 4rem auto;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list p{
  width: 100%;
  text-align: center;
}
